@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}



/* If Tailwind is used, specify colors in tailwind.config.js and use utility classes in HTML */
body {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)),
  // background: linear-gradient(rgba(255, 255, 255, 0.6), transparent),
  url('static/images/background_10.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  min-height: 100vh;
  background-size: cover;

}

/* Retain custom scrollbar styles if necessary */
@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 18px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
    border: 6px solid #111;
    background: #333;
    border-radius: 100vmax;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}

/* Example of retaining a necessary animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1, 1.5);
  }
  to {
    transform: rotate(360deg);
  }
}

.code-snippet pre {
  white-space: pre-wrap;  // Allows text to wrap within the pre element
  word-wrap: break-word;  // Breaks words that extend beyond the width of the container
  overflow-wrap: break-word; // Ensures long words will wrap and not overflow
  overflow-x: auto; // Allows horizontal scrolling if needed
  font-family: 'Courier New', monospace; // Ensures monospaced font
  font-size: 1.25rem; // Smaller font size for better fit on small screens
  line-height: 3.0; // Improved line spacing for readability
  background-color: #1e1e1e; // Dark background for code readability
  color: #E3F2FD; // Text color for readability
  padding: 10px; // Padding around the text
  border-radius: 8px; // Rounded corners for aesthetics


}


// Code snippet
.code-snippet {
  overflow: hidden;
  padding: 16px; // Consistent padding
  margin-top: 20px;
  font-family: 'Fira Code', 'Consolas', monospace;
  font-size: 1.25rem;
  // background-color: #1e1e1e; // Dark background
  min-height: 100px;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 700px;
  width: 80%; // Ensures it takes the full width of its container



  .keyword, .macro { color: #569cd6; } // Simplify repeated styles
  .string { color: #ce9178; }
  .comment { color: #6a9955; }
  .function { color: #c586c0; }
  .brace { color: #dcdcdc; }
  .attribute { color: #d7ba7d; }
  .variable { color: #9cdcfe; }
  .highlight-name { font-size: 1.2em; color: #c678dd; font-weight: bold; } /* For your name */
  .highlight-role { font-size: 1.1em; color: #56b6c2; font-weight: bold; } /* For your role */
  .highlight-tech { font-size: 1.1em; color: #e06c75; font-weight: bold; } /* For technologies like Rust, Yew */
  .highlight-language { font-size: 1.1em; color: #c0de18; font-weight: bold; } /* For technologies like Rust, Yew */
  .description { color: #dcdcaa; }
  .important { font-weight: bold; color: #ce9178; }

  code {
      display: block; // Use block to ensure it takes the full width
      animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
      from { width: 0; }
      to { width: 100%; }
  }

  @keyframes blink-caret {
      from, to { border-color: transparent; }
      50% { border-color: #569cd6; }
  }
}

// Media query for smaller screens
/* Larger screens: Standard size */
@media (min-width: 1024px) {
  .code-snippet pre {
      font-size: 1rem; /* Standard font size for large screens */
  }
}

/* Medium screens */
@media (max-width: 1023px) {
  .code-snippet pre {
      font-size: 0.875rem; /* Slightly smaller font size for medium screens */
  }
}

/* Smaller screens */
@media (max-width: 768px) {
  .code-snippet pre {
      font-size: 0.75rem; /* Even smaller font size for better fit on small screens */
  }
}

/* Use Tailwind for buttons, hover effects, and focus within the HTML by applying utility classes */
.articles-layout {
  display: flex;
  flex-direction: column;  // Change direction on small screens
  max-width: 100%;
  min-height: 100vh;

  @media (min-width: 768px) {  // For tablets and larger devices
    flex-direction: row;
  }
}



.navigation-pane {
  width: 100%;  // Full width on small screens
  color: black;  // White text for readability on blue background
  padding: 20px;
  overflow-y: auto;  // Enables scrolling for the navigation pane

  @media (min-width: 768px) {  // For tablets and larger devices
    width: 20%;  // Adjust the width of the navigation pane
  }
}

/* Specific styles for navigation pane list items */
.navigation-pane ul {
  list-style: none;
  padding: 0;
  margin: 0;  // Ensuring there's no default margin
}

.navigation-pane li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: rgb(6, 5, 5);  // White text for readability on blue background
}

.navigation-pane li.active {
  font-weight: bold;  // Make the active item bold
}

.article-content {
  width: 100%;  // Full width on small screens
  background-color: #ffffff;  // White background for the content area
  color: #000000;  // Black text for high contrast on white background
  padding: 20px;
  overflow-y: auto;  // Enables scrolling for the content pane

  @media (min-width: 768px) {  // For tablets and larger devices
    width: 80%;  // Adjust the width of the content pane
  }
}

.article-content h1 {
  font-weight: bold;  /* Make the text bold */
  font-size: 1.5em;   /* Increase the size; adjust as needed */
  margin-bottom: 10px; /* Optional: adds some space below the header */
}


#welcome-id {
  color: navy;
  font-weight: bold;
}

.headers-class {
  font-weight: bold;
  font-size: 20px;
}


ul, ol {
  margin-left: 20px;
  padding-left: 20px;
}

// Projects Section
/* Button Styling for a more engaging look */
.project-button {
  padding: 10px 25px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.project-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);  /* Slight increase in size */
}

/* Navigation Bar Style */
.projects-navigation {
  display: flex;
  justify-content: space-around;  /* Space out buttons more */
  align-items: center;
  padding: 20px;
  margin-top: 5px;  /* Space above navigation bar */
}



/* Slider adjustments for better focus */
.projects-slider {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0;  /* Add padding around slider */
}
/* Styling for Markdown Content */
.markdown {
  max-height: 500px;  /* Increased content visibility */
  overflow-y: auto;  /* Scrolling enabled */
  padding: 10px;
  background: #f9f9f9;  /* Light background for markdown content */
  border-radius: 5px;  /* Rounded corners inside the project item */
}


// nav
/* Navigation bar adjustments */

/* Enhanced Nav Link Styles */
nav {
  background-color: #222; // Dark background
  color: white;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .mobile-nav {
      display: none; // Initially hidden on desktop
    }

    .menu-button {
      display: none; // Initially hidden on desktop
      color: white;
    }

    .nav-links {
      display: flex; // Ensure links are always visible and horizontally arranged on desktop
      justify-content: space-around;
      width: 100%;
      .nav-link {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: 14px 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover, &.active {
          background-color: #333;
          text-decoration: underline;
          color: #ffcc00;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  nav .container {
    flex-direction: column;
    align-items: flex-start;

    .menu-button {
      display: block; // Show the menu button on mobile
    }

    .nav-links, .mobile-nav {
      display: none; // Hide nav-links by default on mobile
    }

    .nav-links.open, .mobile-nav {
      display: block; // Display when menu is toggled open
      width: 100%;
      color: white;
      .nav-link {
        display: block;
        width: 100%;
        padding: 10px; // Smaller padding on mobile
        text-align: left;
        &:hover, &.active {
          background-color: #333;
          text-decoration: underline;
          color: #ffcc00;
        }
      }
    }
  }
}

// Trivia Section
.entertainment-section {
  padding: 2rem;
  border-radius: 8px;
  position: relative;
}

.card {
  // background-color: #323842;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}

.card .input, .card .button {
  width: 100%;
  margin-bottom: 0.5rem;
  color: black; // Darker text color for better visibility
  font-size: 16px; // Adequate font size
  height: 50px; // Explicit height for the input field
}

.card .button {
  padding: 0.6rem;
  border-radius: 0.25rem;
  color: #ffffff;
  cursor: pointer;
  margin-right: 0.8rem; // Applies to both buttons for consistency
  margin-bottom: 0.5rem; // Applies to both buttons for consistency
}

.card .check-answer-button {
  background-color: #4CAF50; // Green
}

.card .next-question-button {
  background-color: #007BFF; // Blue
}

.card .reset-button {
  background-color: #9B59B6; // Green
}


.card .button:hover {
  opacity: 0.85; // Slight fade effect on hover for both buttons
  background-color: #45a049; // Adjusted background color on hover
}

.progress {
  width: 100%; // Ensures the progress bar stretches across the entire width of the card
  background-color: #ddd; // Light grey background for the progress bar
  border-radius: 0.25rem; // Rounded edges for the progress bar
  height: 20px; // Set the height of the progress bar
  margin-bottom: 1rem; // Space below the progress bar
  position: relative; // Needed for absolute positioning of the text
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  border: 1px solid #bbb; // Light border for definition
}

.progress-bar {
  height: 100%; // Ensures the fill takes up the entire height of the progress bar
  background-image: linear-gradient(to right, #4CAF50, #81C784); // Gradient from dark to light green
  border-radius: 0.25rem; // Rounded edges for the filled part of the progress bar
  transition: width 0.4s ease-in-out; // Smooth transition for width adjustments
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); // Inner shadow for texture
}

.progress-text {
  position: absolute; // Absolute position within the parent .progress
  width: 100%; // Match the width of the parent
  top: 50%; // Center vertically
  left: 0; // Align left
  transform: translateY(-50%); // Centering adjustment
  text-align: center; // Center the text horizontally
  color: #323842; // Text color that stands out against the bar
  font-size: 12px; // Adequate font size for visibility
}



@keyframes balloons {
  0%, 100% { transform: translateY(0) rotate(-4deg); }
  50% { transform: translateY(-20px) rotate(4deg); }
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
  .card {
    width: 80%; // Makes the card wider on larger screens
    padding: 2rem; // Increases padding for better aesthetics
    margin: auto; // Centers the card horizontally
  }
}

